---
import ExperienceCard from "./ExperienceCard.astro";

const {
    right = true,
    jobTitle,
    company,
    from,
    to,
    description,
    techList,
} = Astro.props;
---

<div
    class="flex flex-col items-center justify-between w-full lg:relative lg:flex-row"
>
    <div class={`relative w-full lg:max-w-[768px] ${!right && "ml-auto"}`}>
        <div
            class="absolute inset-0 bg-slate-950 transition-opacity opacity-40 hover:opacity-0"
        >
        </div>
        <slot />
    </div>
    <ExperienceCard
        right={right}
        jobTitle={jobTitle}
        company={company}
        from={from}
        to={to}
        description={description}
        techList={techList}
    />
</div>
