---
import SectionTitle from "./SectionTitle.astro";
import KanduiLightThemeImage from "../../public/kandui-light.webp";
import KanduiDarkThemeImage from "../../public/kandui-dark.webp";
import RGCorpLightThemeImage from "../../public/rg-corp-light.webp";
import RGCorpDarkThemeImage from "../../public/rg-corp-dark.webp";
import DoubleImageExperienceContainer from "./DoubleImageExperienceContainer.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
    id="experience"
    class="relative max-w-7xl mx-auto mt-28 scroll-mt-8 md:mt-44"
>
    <SectionTitle
        prefix={t("experience.prefix")}
        title={t("experience.title")}
        classStyles="mb-6"
    />
    <div class="flex flex-col gap-16 md:gap-32">
        <DoubleImageExperienceContainer
            jobTitle={t("experience.kandui-job-title")}
            company="Kandui"
            from={new Date(Date.UTC(2022, 8, 1))}
            to={new Date(Date.UTC(2023, 9, 1))}
            description={t("experience.kandui-job-description")}
            techList={[
                "Next.js",
                "React",
                "TypeScript",
                "Redux",
                "Git",
                "HTML5",
                "CSS3",
                "Figma",
                "styled-components",
                "Django",
            ]}
            leftImage={KanduiDarkThemeImage}
            rightImage={KanduiLightThemeImage}
            leftImageSrc="kandui-dark.webp"
            rightImageSrc="kandui-light.webp"
            loading="eager"
            classStyles=""
            leftImageAlt="Kandui dark theme main trading view"
            rightImageAlt="Kandui ligth theme main trading view"
        />
        <DoubleImageExperienceContainer
            right={false}
            jobTitle={t("experience.rg-corp-job-title")}
            company="RG Corp"
            from={new Date(Date.UTC(2020, 1))}
            to={new Date(Date.UTC(2022, 7))}
            description={t("experience.rg-corp-job-description")}
            techList={[
                "React",
                "TypeScript",
                "Redux",
                "Git",
                "Figma",
                "HTML5",
                "CSS3",
                "styled-components",
            ]}
            leftImage={RGCorpLightThemeImage}
            rightImage={RGCorpDarkThemeImage}
            leftImageSrc="rg-corp-dark.webp"
            rightImageSrc="rg-corp-light.webp"
            loading="lazy"
            classStyles=""
            leftImageAlt="RG Corp dark theme KYC form view"
            rightImageAlt="RG Corp ligth theme KYC form view"
        />
    </div>
    <div
        class="absolute -z-10 top-[15%] left-[10%] mx-auto size-[600px] filter blur-[110px] rounded-full animate-blob opacity-20 bg-blue-600"
    >
    </div>
</section>
