---
const {
    id = "language-dropdown-dialog",
    py = "py-3",
    px = "px-7",
    size = "",
    href = "",
    ariaLabel = "",
    classStyles = "",
    ...props
} = Astro.props;
---

<a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    aria-label={ariaLabel}
    {...props}
    class={`relative z-0 flex justify-center items-center gap-2 overflow-hidden rounded-full border
            text-base border-blue-600 ${px} ${py} ${size} font-semibold
            text-blue-600 transition-all duration-500 sm:text-lg ${classStyles}
            
            before:absolute before:inset-0
            before:-z-10 before:translate-x-[150%]
            before:translate-y-[150%] before:scale-[2.5]
            before:rounded-[100%] before:bg-blue-600
            before:transition-transform before:duration-700
            before:content-[""]
    
            hover:scale-105 hover:text-blue-50
            hover:before:translate-x-[0%]
            hover:before:translate-y-[0%]
            active:scale-95
            `}
>
    <slot />
</a>
